.footer .container {
    margin-bottom: 88px;
}

.footer__inner {
    display: flex;
    align-items: center;
    padding: 47px 85px;
    background-color: #2C343E;
}

.footer .logo-link {
    margin-right: 100px;
}


.footer .nav {
    margin-right: auto;
}

.footer .nav__item {
    display: block;
}

.footer .nav__link {
    display: block;
}

.footer .nav__link--active {
    color: #FEFCF7;
}
 
.footer .nav__link:hover {
    color: #FEFCF7;
}


.socials__list {
    display: flex;
    align-items: center;
    color: transparent;
}

.socials__item {
    background-position: center;
    background-repeat: no-repeat;
}

.socials__item + .socials__item {
    margin-left: 24px;
}

.socials__image {
    display: block;
    transition: opacity 0.25s ease;
}

.socials__item:hover .socials__image {
    opacity: 0;
}

@media only screen and(max-width:1100px) {
    .footer__inner {
        justify-content: space-between;
    }

    .footer .logo-link {
        margin: 0;
    }

    .footer .nav {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1070px) {
    .footer__inner {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1065px) {
    .footer .container {
        margin-bottom: 0;
    }
    
    .footer__inner {
        justify-content: space-between;
        height: 100%;
    }
}

@media only screen and (max-width: 1015px) {
    .footer .container {
        min-width: 1000px;
        width: 100%;

    }

    .footer__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 100px;
    }

    .footer .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer .nav + .socials__list {
        margin-left: 9px;
    }
}

@media only screen and(max-width: 900px) {
    .footer .container {
        margin-bottom: 72px;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: space-between;
        padding: 54px;
    }

    .footer .logo-link {
        margin-bottom: 32px;
    }

    .footer .nav {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media only screen and(max-width: 600px) {
    .footer .container {
        margin-bottom: 72px;
    }

    .footer .nav__list {
        display: flex;
    }
}

@media only screen and(max-width: 450px) {
    .footer .logo-link {
        margin-bottom: 50px;
    }

    .footer .nav {
        margin-bottom: 50px;
        text-align: center;
    }

    .footer .nav__list {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .footer .nav__item {
        margin-left: 30px;
        text-align: center;
    }

    .footer .nav__link {
        display: block;
        padding: 10px 0;
    }

    .footer .nav__item {
        &:first-child .nav__link {
            padding-top: 0;
        }

        &:last-child .nav__link {
            padding-bottom: 0;
        }
    }
}